---
import Layout from '../layouts/Layout.astro';
import  {playlists}  from '../lib/data';
import PlaylistItemCard from '../components/PlaylistItemCard.astro';
---

<Layout title=" <Zuokify/>">
	<div id="playlist-container w-full h-full"
	class="relative transition-all duration-1000 bg-gradient-to-t from-zinc-900 to-amber-700/40 bg-zinc-700/80"
	>
	<!--PageHeader -->
	
	<div class="relative z-10 px-6">
		<!---Greatings --->
		<h1 class="text-2xl text-white font-bold">Que escuchamos?</h1>
		<div class="flex flex-wrap mt-6 gap-5 pb-8">
			{playlists.map((elemento=><PlaylistItemCard elemento={elemento}/>))}

		</div>
	</div>

	<div class="absolute inset-0 bg-gradient-to-t from-zinc-950 via-zinc-900/80">

	</div>
    
	</div>
</Layout>

